.layui-tab-title li .permission-close{
	position:relative;
	display:inline-block;
	width:18px;
	height:18px;
	line-height:20px;
	margin-left:8px;
	top:1px;
	text-align:center;
	font-size:14px;
	color:#c2c2c2;
	transition:all .2s;
	-webkit-transition:all .2s
	}
.layui-tab-title li .permission-close:hover{
	border-radius:2px;
	background-color:#FF5722;
	color:#fff
	}