<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<!-- 配置SpringMVC -->

	<!-- 1.开启SpringMVC注解模式 -->
	<!-- 简化配置： (1)自动注册DefaultAnootationHandlerMapping,AnotationMethodHandlerAdapter 
		(2)提供一些列：数据绑定，数字和日期的format @NumberFormat, @DateTimeFormat, xml,json默认读写支持 -->
	<mvc:annotation-driven />

	<!-- 2.静态资源默认servlet配置 (1)加入对静态资源的处理：js,gif,png (2)允许使用"/"做整体映射 -->
	<!-- 特别说明：因为我们在 web.xml 里配置了 DispatcherServlet 的拦截路径是 "/"，所以除了动态请求外，
	静态资源（比如：http://localhost:8080/app.css） 也会被拦截，DispatcherServlet 会将它们当成一个普通请求处理，
	因此找不到对应处理器将导致错误。这里我们配置了 <mvc:default-servlet-handler /> 后，
	会在 Spring MVC 上下文中定义一个 org.springframework.web.servlet.resource.DefaultServletHttpRequestHandler，
	它会像一个检查员，对进入 DispatcherServlet 的 URL 进行筛查，如果发现是静态资源的请求，就将该请求转由 Web 应用服务器默认的
	Servlet 处理，如果不是静态资源的请求，才由 DispatcherServlet 继续处理。 -->
	<mvc:default-servlet-handler />

	<!-- 3.配置jsp 显示ViewResolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<!--<property name="prefix" value="/WEB-INF/jsp/" />-->
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 配置文件上传下载 -->
	<bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxUploadSize" value="5400000"></property>
    </bean>
    
    <!-- 配置日期转换 -->
    <bean id="convertDateConfig" 
    	class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="webBindingInitializer">
			<bean class="wang.miansen.roothub.config.ConvertDateConfig"/>
		</property>
	</bean>

	<!-- 4.扫描web相关的bean -->
	<context:component-scan base-package="wang.miansen.roothub.modules.collect.controller.**,
										  wang.miansen.roothub.modules.follow.controller.**,
										  wang.miansen.roothub.modules.integral.controller.**,
										  wang.miansen.roothub.modules.node.controller.**,
										  wang.miansen.roothub.modules.notice.controller.**,
										  wang.miansen.roothub.modules.comment.controller.**,
										  wang.miansen.roothub.modules.role.controller.**,
										  wang.miansen.roothub.modules.sys.controller.**,
										  wang.miansen.roothub.modules.tab.controller.**,
										  wang.miansen.roothub.modules.tag.controller.**,
										  wang.miansen.roothub.modules.post.controller.**,
										  wang.miansen.roothub.modules.user.controller.**,
										  wang.miansen.roothub.modules.visit.controller.**,
										  wang.miansen.roothub.modules.vote.controller.**,
										  wang.miansen.roothub.modules.permission.controller.**,
										  wang.miansen.roothub.modules.sidebar.controller.**" />

	<!-- 全局拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/topic/create" />
			<mvc:mapping path="/topic/save" />
			<mvc:mapping path="/reply/save" />
			<mvc:mapping path="/collect/topics" />
			<mvc:mapping path="/collect/isCollect" />
			<mvc:mapping path="/collect/save" />
			<mvc:mapping path="/collect/delete" />
			<mvc:mapping path="/follow/save" />
			<mvc:mapping path="/follow/delete" />
			<mvc:mapping path="/follow/count/for" />
			<mvc:mapping path="/follow/count/to" />
			<mvc:mapping path="/follow/topics" />
			<mvc:mapping path="/notification/list" />
			<mvc:mapping path="/user/settings/profile" />
			<mvc:mapping path="/user/setting/profile" />
			<mvc:mapping path="/user/settings/changeAvatar" />
			<mvc:mapping path="/user/setting/changeAvatar" />
			<mvc:mapping path="/user/settings/changePassword" />
			<mvc:mapping path="/user/setting/changePassword" />
			<mvc:mapping path="/vote" />
			<mvc:mapping path="/?tab=member" />
			<!-- 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 -->
			<bean class="wang.miansen.roothub.common.handler.GlobalInterceptorHandler" />
		</mvc:interceptor>
	</mvc:interceptors> 
</beans>