<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 引入application配置文件 -->
	<context:property-placeholder ignore-unresolvable="true" file-encoding="UTF-8" location="classpath:application.properties" />
	<!-- 自动扫描config包，将使用@Component注解的类作为bean注入到IOC容器 -->
	<context:component-scan base-package="cn.roothub.config" />
	<!-- 自动扫描config.service包，将使用@Component注解的类作为bean注入到IOC容器 -->
	<context:component-scan base-package="cn.roothub.config.service" />
	<context:component-scan base-package="cn.roothub.config.properties" />
	<context:component-scan base-package="cn.roothub.store" />
	<!-- 全局异常处理 -->
	<context:component-scan base-package="cn.roothub.handler" />
	<!-- 引入redis配置文件 -->
    <import resource="spring-redis.xml"/>
	<!-- 扫描service.impl包下所有使用注解的类型 -->
	<context:component-scan base-package="cn.roothub.service.impl" />

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 注入数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 配置基于注解的声明式事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="baseEntity" class="cn.roothub.base.BaseEntity"></bean>
</beans>