<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 引入 application 配置文件 -->
	<context:property-placeholder ignore-unresolvable="true" file-encoding="UTF-8" location="classpath:application.properties" />

	<!-- 自动扫描包，将使用 @Component、@Service、@Controller、@Repository 等注解的类
		 作为 bean 注入到 IOC 容器 -->

	<!--通用模块-->
	<context:component-scan base-package="wang.miansen.roothub.common.**" />

	<!--系统配置模块-->
	<context:component-scan base-package="wang.miansen.roothub.config.**" />

	<!--核心模块-->
	<context:component-scan base-package="wang.miansen.roothub.core.**" />

	<!--存储模块-->
	<context:component-scan base-package="wang.miansen.roothub.store" />

	<!--第三方集成模块-->
	<context:component-scan base-package="wang.miansen.roothub.third.**" />

	<!-- 业务模块，扫描 service.impl 包下所有使用注解的类型 -->
	<context:component-scan base-package="wang.miansen.roothub.modules.collect.service.impl,
										  wang.miansen.roothub.modules.follow.service.impl,
										  wang.miansen.roothub.modules.integral.service.impl,
										  wang.miansen.roothub.modules.node.service.impl,
										  wang.miansen.roothub.modules.notice.service.impl,
										  wang.miansen.roothub.modules.comment.service.impl,
										  wang.miansen.roothub.modules.security.service.impl,
										  wang.miansen.roothub.modules.sys.service.impl.**,
										  wang.miansen.roothub.modules.tab.service.impl,
										  wang.miansen.roothub.modules.tag.service.impl,
										  wang.miansen.roothub.modules.post.service.impl,
										  wang.miansen.roothub.modules.user.service.impl,
										  wang.miansen.roothub.modules.visit.service.impl,
										  wang.miansen.roothub.modules.vote.service.impl,
										  wang.miansen.roothub.modules.role.service.impl,
										  wang.miansen.roothub.modules.permission.service.impl,
										  wang.miansen.roothub.modules.sidebar.service.impl,
										  wang.miansen.roothub.modules.app.service.impl" />
										  
	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 注入数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 配置基于注解的声明式事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>